<ion-content>
  <ion-card color="transparent">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        🌟 <strong>Oferta Especial</strong> 🌟
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="offer-card-content">
      <ion-label>
        ✈️ <strong>Destino: Barcelona</strong> 
      </ion-label>
      <br />
      <ion-label>
        💰 <strong>Precio: $250.000</strong> 
      </ion-label>
      <br />
      <ion-label>
        📅 <strong>Fecha de salida: 10 de agosto</strong> 
      </ion-label>
      <br />
      <ion-label>
        📅 <strong>Fecha de regreso: 15 de agosto</strong> 
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card color="transparent">

    <ion-card-content class="info-avion">
      <ion-label>
        ✈️ <strong>Avion: Airbus A320</strong> 
      </ion-label>
      <br />
      <ion-label>
        ✈️ <strong>Modelo: A320-200</strong> 
      </ion-label>
      <br />
      <ion-label>
        ✈️ <strong>Capacidad: 180 pasajeros</strong>
      </ion-label>
    </ion-card-content>
  </ion-card>


  <ion-button  (click)="reservarVuelo()">
    Reservar
  </ion-button>   

